
/* ------- Reset ------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
} 
/* ------- Reset ------- */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* ------- header ------- */

.header {
    height: 100px;
    width: 100%;
}

.header__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo__container {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.header__logo__container__image a img {
    width: 30px;
}

.header__logo__container__title h1 {
    font-family: 'Carattere', cursive;
    font-size: 28px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 1s ease;
}

nav a:hover {
    border-bottom: 1px solid black;
}

/* ------- header ------- */


/* ------- banner section ------- */

.banner {
    width: 100%;
    height: calc(100vh - 74px);
}

.banner__container {
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/img-fundo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__container__header {
    background-color: rgba(73, 153, 124, 0.8);
    padding: 40px;
    border-radius: 4px;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.banner__container__header h2 {
    font-family: 'Carattere', cursive;
    font-weight: normal;
    font-size: 180px;
    letter-spacing: 1px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}


.banner__container__header h3 {
    font-size: 48px;
    letter-spacing: 1px;
    font-style: italic;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

/* ------- banner section ------- */