
/* ------- Reset ------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
} 
/* ------- Reset ------- */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* ------- header ------- */

.header {
    height: 100px;
    width: 100%;
}

.header__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo__container {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.header__logo__container__image a img {
    width: 30px;
}

.header__logo__container__title h1 {
    font-family: 'Carattere', cursive;
    font-size: 28px;
    color: #1c1b1b;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #1c1b1b;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 1s ease;
}

/* nav a:hover {
    border-bottom: 1px solid #1c1b1b;
} */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__content a {
    font-size: 12px;
    display: block;
    padding: 12px 16px;

}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown__content a:hover {
    background-color: #49997c;
    color: #fff;
}

.dropdown:hover .dropdown__content {
    display: block;
}

/* ------- header ------- */


/* ------- banner section ------- */

.banner {
    width: 100%;
    height: calc(100vh - 74px);
    background-image: url('/assets/images/banner-quartos.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__container {
    width: 100%;
    max-width: calc(1400px - 4%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 4px;
    height: 40%;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner header h2 {
   font-family: 'Carattere', cursive;
    font-weight: normal;
    font-size: 180px;
    letter-spacing: 1px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}



/* ------- banner section ------- */

/* ------- quartos section ------- */



.quartos__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

.quartos__container__header {
    padding: 4% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.quartos__container__header h3 {
    font-size: 78px;
    font-family: 'Carattere', cursive;
    color: #1c1b1b;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.quartos__container__header p {
    font-size: 18px;
    letter-spacing: 1px;
}

.quartos__images__container {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.quartos__images__container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 4%;
}

.quartos__images__img__container img {
    border-radius: 4px;
    transition: .3s ease;
}

.quartos__images__img__container img:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px 8px 0 rgba(73, 153, 124, 0.5);
}

.quartos__link__container a {
    font-size: 20px;
    text-transform: uppercase;
    color: #1c1b1b;
    transition: .3s ease;
}


.quartos__link__container a:hover {
    padding: 10px 18px;
    border-radius: 4px;
    box-shadow: 0 0 4px 4px #49997c inset;
}

.quartos__items__list__container {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 4%;
}

.quartos__items__list__container header {
    text-align: center;
}

.quartos__items__list__container__text ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgba(73, 153, 124, 0.1);
    box-shadow: 4px 4px 8px 0 rgba(73, 153, 124, 0.5);
}

.quartos-de-solteiro {
    min-height: 50vh;
}

.quarto-de-familia {
    min-height: 80vh;
}


/* ------- quartos section ------- */






/* ------- footer section ------- */

footer {
    background-color: #49997c;
    color: #fff;
    min-height: 20vh;

}

.footer__container {
    height: 200px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.footer__container__allBoxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__container__boxes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__container__boxes img {
    width: 40px;
}

.footer__container__telephone__text__container a, .footer__container__reserve__text__container a {
    color: #fff;
}

.footer__container__reserve__text__container {
    position: relative;
}

.footer__container__reserve__text__container a::after {
    content: "";
    width: 85px;
    height: 3px;
    background: linear-gradient(#0677dd, #00add9);
    position: absolute;
    right: 2px;
    bottom: -3px;
}


.line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 20px 0 20px 0;
}

.footer__container__copyright {
    text-align: center;
}


/* ------- footer section ------- */